/* Selector General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
  }
  
  :root {
    --color-pink: rgb(247, 0, 255);
    --color-green: rgba(30, 255, 0);
  }
  
  /* INICIO DE CLASES ITERATIVAS */
  
  .pink-btn-link{
      border: 2px solid;
      box-shadow: 0px 2px 4px rgba(247, 0, 255, 0.61);
      border-radius: 4px;
      padding: 15px;
      box-sizing: border-box;
      color: var(--color-pink);
      font-size: 18px;
      font-weight: 700;
      padding: 10px;
      text-decoration: none;
      text-transform: uppercase;
  }
  .pink-btn-link:hover{
    box-shadow: 0px 2px 4px rgba(30, 255, 0, 0.61);
    color: var(--color-green);
  }
  .green-btn-link{
      border: 2px solid;
      box-shadow: 0px 2px 4px rgba(30, 255, 0, 0.61);
      border-radius: 4px;
      padding: 15px;
      box-sizing: border-box;
      color: var(--color-green);
      font-size: 18px;
      font-weight: 700;
      padding: 10px;
      text-decoration: none;
      text-transform: uppercase;
  }
  .green-btn-link:hover{
    box-shadow: 0px 2px 4px rgba(247, 0, 255, 0.61);
    color: var(--color-pink);
  }
  .margin-2{
      margin: 2rem;
  }
  .margin-right-2{
      margin-right: 2rem;
  }
  .margin-left-2{
      margin-left: 2rem;
  }
  .margin-top-2{
      margin-top: 2rem;
  }
  .margin-botton-2{
      margin-bottom: 2rem;
  }
  /* FIN DE CLASES ITERATIVAS */  

  /* INICIO | BARRA DE NAVEGACION */

  
header{ /* Contenedor para el Flujo Web*/
    position: sticky;
    top: 0;
    z-index: 99;
}

nav { /*Contenedor General de Elementos*/
  display: flex;
  height: 10vh;
  max-height: 10vh;
  align-items: center;
  justify-content: start;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.61);
}
.responsive-navbar-checkbox{
  display: none;
}
.contenedor-logo-nav{ /* Contenedor Logo */
    height: 100%;
}
    .logo-navbar { /* Logo */
        width: 100%;
        height: 100%;
    }

.contenedor-links-nav { /* Contenedor Links */
  display: flex;
  gap: 1rem;
  justify-content: center;
}
    .links-nav{ /* Links */
      color: white;
      text-decoration: none;
      text-transform: uppercase;
    }
    .links-nav:hover{
      color: var(--color-pink);
    }

.contenenedor-btn-nav { /* Contenedor Boton del Nav*/
  display: flex;
  justify-content: end;
  flex-grow: 1;
}


#sign-navbar{
  background-color: black;
}
/* FIN DE BARRA DE NAVEGACION */


/* Footer Styles */

footer{
  height: auto;
  background-color: rgb(12, 12, 12);
}
.contenedor-footer-lineUp{
  display: flex;
  padding: 1.5rem 2rem;
  gap: 2rem;
  flex-wrap: wrap;
}
.footer-column-lineUp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  flex-grow: 1;
  text-align: center;
}
.footer-h2-column-title{
  font-size: 14px;
  color: rgb(213, 0, 220);
  text-transform: uppercase;
}
.footer-link-column{
  font-size: 12px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding-top: 0.2rem;
}
.footer-link-column:hover{
color: var(--color-green);
}
.footer-p-credits{
  font-size: 12px;
  color: white;
  width: 50%;
  padding-top: 5px;
}
.link-credits-footer{
  font-size: 12px;
  text-decoration: none;
  color: var(--color-pink);
}
.link-credits-footer:hover{
  color: var(--color-green);
}
.redes-footer-column{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}
.img-redes-footer{
  height: 25px;
  width: 25px;
  filter: grayscale(1);
}
.img-redes-footer:hover{
  filter: grayscale(0);
}
.copyright-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
}
.copyright-text{
  font-size: 14px;
  color: rgb(243, 243, 243);
  text-transform: uppercase;
  text-align: center;
}

/* FIN DE FOOTER */

/* Responsive menu oculto en escritorio */

.contenedor-menu-responsive{
  height: 100%;
  padding: 15px;
  display: none;
}
.menu-responsive{
  display: none;
}

/* Responsive Menu a partir de Tablet a Movil */

@media screen and (max-width:768px){
  .contenedor-links-nav{
    display: none;
  }
  .contenenedor-btn-nav{
    display: none;
  }
  .contenedor-menu-responsive{
    display: flex;
    justify-content: end;
    flex-grow: 1;
    align-items: center;
  }
  .menu-responsive {
    /* diseño del menu */
    top: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 99;
    background-color: rgb(0, 0, 0);
    /* alineamiento de items del contenedor */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 2rem;
    
    /* animaciones */
    clip-path: circle(0% at 100% 0%);
    transition: clip-path 0.4s;
}
.close-responsive-menu{
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
}
/* Agrega comentarios para explicar el propósito del siguiente selector */
.menu-responsive:target {
    clip-path: circle(150% at top left);
}
}
