/* Selector General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
  }
  
  
  
  
  
  
  
  
  /* INICIO DE CLASES ITERATIVAS */
  
  .pink-btn-link{
      border: 2px solid;
      box-shadow: 0px 2px 4px rgba(247, 0, 255, 0.61);
      border-radius: 4px;
      padding: 15px;
      box-sizing: border-box;
      color: rgb(247, 0, 255);
      font-size: 18px;
      font-weight: 700;
      padding: 10px;
      text-decoration: none;
      text-transform: uppercase;
  }
  .pink-btn-link:hover{
    box-shadow: 0px 2px 4px rgba(30, 255, 0, 0.61);
    color: rgba(30, 255, 0);
  }
  .green-btn-link{
      border: 2px solid;
      box-shadow: 0px 2px 4px rgba(30, 255, 0, 0.61);
      border-radius: 4px;
      padding: 15px;
      box-sizing: border-box;
      color: rgba(30, 255, 0);
      font-size: 18px;
      font-weight: 700;
      padding: 10px;
      text-decoration: none;
      text-transform: uppercase;
  }
  .green-btn-link:hover{
    box-shadow: 0px 2px 4px rgba(247, 0, 255, 0.61);
    color: rgb(247, 0, 255);
  }
  .margin-2{
      margin: 2rem;
  }
  .margin-right-2{
      margin-right: 2rem;
  }
  .margin-left-2{
      margin-left: 2rem;
  }
  .margin-top-2{
      margin-top: 2rem;
  }
  .margin-botton-2{
      margin-bottom: 2rem;
  }
  
  /* FIN DE CLASES ITERATIVAS */  