@media screen and (max-width:800px) {
    .black-overlay > h2{
        font-size: 36px;
    }
    .black-overlay > h3{
        font-size: 18px;
    }
    .black-overlay > a > button{
       width: 200px;
    }
    .column-items > div{
        width: auto;
    }
    .column-items > h2{
        font-size: 32px;
    }
}

@media screen and (max-width:650px) {
    .main-column2{
        width: 100%;
        flex-grow: 1;
    }
.main-column{
    display: none!important;
}
.responsive-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}
.footer-p-credits{
    width: 100%;
}
}